<h1><%= @subject.name %></h1>

<ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %></li>
  <% end %>
</ul>

<%= paginate @courses, window: 2 %>

<p><%= link_to "Add a course", new_course_path %></p>
