<h1>All Courses</h1>

<p><%= link_to "New course", new_course_path %></p>

<% @courses.each do |course| %>
  <li><%= link_to course.name, course_path(course) %></li>
<% end %>

<%= paginate @courses, window: 2 %>
